@mixin base_frame($width:80%,$maxWidth:1000px,$minWidth:300px){
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
  min-width: $minWidth;
  width: $width;
}

@mixin base_border($radius:10px,$kind:solid, $pic: 3px){
  border:black $kind $pic;
  border-radius: $radius;
  border-collapse: collapse;
}

.btn_div{
  @include base_frame();
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1em;;
}

body{
  background-color: aquamarine;
}

h1,h2{
  @include base_frame();
  text-align: center;
  text-decoration: underline;
}


form{
  @include base_frame();
  @include base_border();
  text-align: center;
  textarea{
    @include base_frame($width:90%);
    height:250px;
  }
  #otherInfo{
    div{
      display:flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      span,input{
        margin-right: 10px;
      }
    }
  }
}

#go_to_details{
  @include base_frame();
  text-align: center;
  background-color: whitesmoke;
}


// 詳細ページ
#detail_author_div,#detail_source_div,#detail_other_div{
  @include base_frame($width:90%);
  @include base_border($kind:dashed,$pic:1px);
  margin-top:10px;
  margin-bottom:10px;
  font-size:1.1em;
  input,select{
    margin-bottom:20px;
    font-size:1em;
    height:30px;
  }
}

#detailSelectKindRequest{
  @include base_frame($width:40%,$minWidth:200px);
  font-size:0.95em;
  height:25px;
  line-height: 25px;
  margin-bottom: 10px;
}

#until_point{
  margin-bottom: 15px;
}



// エラー時
.if_error_div{
  @include base_frame();
  p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color:red;
  }
}
