{% extends "components/base.html" %}
  {% block title %} 詳細分析 {% endblock %}
  {% block  scriptsrc%}<script src="{{url_for('static',filename='js/detail.js')}}"></script>{% endblock %}
   {% block main %}
   
  <h2>詳細分析</h2>
  
  <form action="/detail_each" method="post">
    {{form.hidden_tag()}}
    
    <div id="detail_author_div">
      <p>①分析する筆者を選んでください</p>
      {{ form.detail_author }}
    </div>

    <div id="detail_source_div">
      <p>②分析する媒体を選んでください</p>
      {{ form.detail_source }}
    </div>
    
    <div id="detail_other_div">
      <p>③分析する時期を選んでください</p>
      <div id="since_point">
        <span>開始時期</span>
        {{form.detail_start_year}}年{{form.detail_start_month}} 月{{form.detail_start_day}}日
      </div>
      <div id="between_span">〜</div>
      <div id="until_point">
        <span>終了時期</span>
        {{form.detail_end_year}}年{{form.detail_end_month}} 月{{form.detail_end_day}}日
      </div>
    </div>
    <div class="btn_div">
      <button>決定！</button>
     </div>
  </form>


  {% for field_name, field_errors in form.errors.items() %}
  {% for error in field_errors %}
      <div class="error">{{ error }}</div>
  {% endfor %}
  {% endfor %}

  {% endblock %}